

<div class="container-fluid bg-dark">
  <h1 class="text-light bg-dark mt-5">Top Sports Headlines <marquee class="text-warning">For more update visit on web site newsApp.com</marquee> </h1> <hr class="text-light">

  <div class="row">

    <div class="col-lg-3 col-md-6 col-12 d-flex mt-5 " *ngFor="let s of dataSports">
      <div class="card  mt-4" style="width: 20rem justify-content-center">
        <img src="{{s.urlToImage}}" class="card-img-top" alt="...">
        <div class="card-body bg-light">
          <h5 class="card-title">{{s.title}}</h5>
          <p>{{s.description}}</p>
          <a href="{{s.url}}" class="btn btn-info">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
